body {
  padding: 0;
  margin: 0;
  font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
  font-size: 16px;
  line-height: 20px;
}  

/*.slide {
  width: 95%;
  height: 95%;
  display: none; 
  position: absolute;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0% 2% 0% 2%;
}*/

.slide {
  /*pad the inside of the slide*/
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;

    /*center slide within the window*/
  margin: auto auto;
  margin-top: 0px;

  /*all elements in a slide will be centered by default*/
    text-align: center;

    border: 1px solid #04abe3;
    width: 800px;
    height: 600px;

    /*could explicitly set the following, but these are the defaults for me (chrome, linux)*/
    font-size: 16px;
    background-color: rgb(255,255,255);
}

table {
  width:800px;
  position: absolute;
  margin:auto;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
  background: url(images/button-gradient.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
  height: 29px;
  min-width: 70px;
}
button:active {
  border-left: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
  background: none;
  background-color: #c9c9c9;
}

button[disabled] {
  background: url(zen-button.png);
  border: 1px solid #999;
  border-top: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  cursor: not-allowed;
}

#logo-text {
  font-weight: bold;
}

#main {
  position: relative;
  width:100%;
  float:left;
}

#text1 {
  position: absolute;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
 text-align: center; 
}


#progressbar {
  position:relative;
  overflow: visible;
  margin: auto;
  width: 250px;
  height: 20px;
  top:45px;
}

#video1 {
  position:relative;
  overflow: visible;
  margin: auto;
}

#text_test {
  position: absolute;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 60;
 text-align: center; 
}

#text_fam {
  position: absolute;
  margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
top: 60;
 text-align: center; 
}


#instructions {
  text-align: center;
}


#clear {
clear:both;
}

.xsit_pic {
}

.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

#number {
  font-size: 42px;
  font-family: Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}
